@use 'colors';

footer {
  .upper-block {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 260px;
    grid-row-gap: 89px;

    background-color: colors.$tint-blue;
    padding: 95px 160px 0;

    position: relative;

    .logo-col {
      grid-area: 1 / 1 / 2 / 2;

      img {
        width: 160px;
      }

      p {
        color: colors.$white;
        margin-top: 24px;
        margin-left: 1px;
      }

    }

    .contact-chip {
      grid-area: 2 / 1 / 3 / 2;
      background-color: colors.$yellow;
      display: flex;
      align-items: center;
      gap: 29px;
      padding: 18px 37px 16px;

      z-index: 2;
      position: absolute;
      bottom: 0;

      min-width: 517px;

      p, div {
        width: fit-content;
      }
    }

    .contact-info {
      height: 92px;
      width: 517px;


      margin-top: 86px;

      padding: 18px 37px 16px 37px;

      p {
        all: revert;
        margin: 0;
        color: black;
      }
    }

    .letstalk-col {
      grid-area: 1 / 2 / 3 / 3;

      h2 {
        color: colors.$white;
      }

      p {
        color: colors.$grey;
        margin-top: 14px;
        margin-left: 1px;
        margin-bottom: 28px;
      }
    }
  }

  .lower-block {
    height: 92px;
    padding: 32px 160px;
    box-sizing: border-box;
    background-color: colors.$white;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}