@use 'colors';
@use 'text';

section {
  &.hero {
    background-color: colors.$tint-blue;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    padding: 128px 160px;

    img {
      width: auto;
    }

    .row {
      display: inline-flex;
      align-items: center;
      gap: 40px;
    }

    h1, p, a {
      color: colors.$white;
    }

    p {
      margin: 24px 0 48px;
    }
  }

  &.logo-string {
    padding: 96px 160px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &.image-text {
    padding: 128px 160px;
    display: flex;
    gap: 80px;
    background-color: colors.$white;

    .text {
      display: flex;
      flex-direction: column;
      gap: 16px;

      * {
        color: colors.$dark-blue;
      }
    }

    img {
      max-width: 575px;
      object-fit: contain;
    }

    &.left {
      flex-direction: row;
    }

    &.right {
      flex-direction: row-reverse;
    }

    &.yellow {
      background-color: rgba(colors.$yellow, .1);
    }

    .grey {
      background-color: colors.$grey;
    }
  }

  &.cards {
    padding: 128px 160px;

    h2 {
      text-wrap: wrap;
      text-align: center;
      margin-bottom: 48px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 24px;

      .card {
        padding: 58px 48px 48px 48px;
        background-color: colors.$grey;

        img {
          width: 35px;
        }

        h6 {
          margin: 25px 0 12px;
        }

        p {
          color: colors.$dark-blue
        }
      }
    }
  }

  &.faq {
    padding: 128px 160px;

    display: flex;
    flex-direction: row;
    gap: 110px;

    .header {
      display: flex;
      flex-direction: column;
      gap: 16px;

      a {
        color: colors.$royal-blue;

        &:after {
          content: "";
        }
      }
    }
    .content {
      width: 100%;

      user-select: none;

      details {
        summary {
          list-style-type: none;
          padding: 32px 0 32px 27px;
          display: inline-flex;
          align-items: center;
          width: 100%;
          box-sizing: border-box;

          * {
            font-size: 24px;
            line-height: 36px;
          }

          .before {
            color: colors.$royal-blue;
            margin-right: 60px;
          }

          .plus-icon {
            font-family: "icomoon" !important;
            margin-left: auto;
            transition: all .05s ease-in;
          }

          &::marker, &::-webkit-details-marker {
            display: none;
          }
        }

        p {
          padding: 0 0 48px 111px;

          font-size: 18px;
          line-height: 32px;
          color: colors.$dark-blue;

          box-sizing: border-box;
          overflow: hidden;
        }

        &[open] {
          .plus-icon { rotate: 45deg; }
          summary { padding-bottom: 16px; }
          p { animation: sweep 1s linear; }
        }

        &:not(:last-of-type) {
          border-bottom: 2px #ECECF1 solid;
        }
      }
    }
  }
}