@use './components/colors.scss';
@use './components/header.scss';
@use './components/text.scss';
@use './components/buttons.scss';
@use './components/footer.scss';
@use './components/sections.scss';

@import url("../assets/fonts/poppins.css");
@import url("../assets/fonts/icomoon.css");

main {

  .how-we-work {
    background-color: colors.$grey;
    padding: 128px 0 128px 165px;

    display: flex;
    align-items: start;
    justify-content: start;

    .heading {
      width: 400px;
    }

    a {
      color: colors.$royal-blue;

      &:after {
        color: colors.$royal-blue;
        vertical-align: middle;
      }
    }

    h2, h5, p {
      color: colors.$dark-blue;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 35px;
      grid-row-gap: 48px;

      margin: 0 auto 0 232px;

      .marker {
        display: block;
        width: 50px;
        height: 50px;
        background: url("../assets/img/marker-bg.svg") colors.$royal-blue;
        border-radius: 8px;

        font-size: 18px;
        line-height: 50px;
        color: colors.$white;
        text-align: center;
      }

      h5 {
        font-weight: 500;
        margin: 16px 0 8px;
      }

      div[class^="tile"] {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 328px;

        &[class*="1"] { grid-area: 1 / 1 / 2 / 2; }
        &[class*="2"] { grid-area: 1 / 2 / 2 / 3; }
        &[class*="3"] { grid-area: 2 / 1 / 3 / 2; }
        &[class*="4"] { grid-area: 2 / 2 / 3 / 3; }
      }
    }
  }

  .our-projects {
    background-color: colors.$white;
    padding: 128px 160px;

    h6, p {
      color: colors.$white;
      text-wrap: wrap;
    }

    h6 {
      font-weight: 600;
    }

    a {
      color: colors.$yellow;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 64px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1.80fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 32px;

      min-height: 600px;

      div[class^="tile"] {

        .overlay {
          background: linear-gradient(to top, #1C1E53, rgba(28, 30, 83, 0.42));
          height: 100%;
          box-sizing: border-box;

          // 2 and 3 styles
          padding: 0 36px 45px 53px;
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 10px;
          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }

        &[class*="1"] {
          grid-area: 1 / 1 / 3 / 2;
          background: no-repeat url("../assets/img/project1.png");
          background-size: cover;

          .overlay {
            width: 50%;
            padding: 0 35px 76px 48px;
            gap: 0;
            opacity: 1;

            p {
              margin: 16px 0 40px;
            }
          }
        }
        &[class*="2"] {
          grid-area: 1 / 2 / 2 / 3;
          background: no-repeat url("../assets/img/project2.png");
          background-size: cover;
        }
        &[class*="3"] {
          grid-area: 2 / 2 / 3 / 3;
          background: no-repeat url("../assets/img/project3.png");
          background-size: cover;
        }
      }
    }
  }

  .features {
    padding: 128px 160px;
    background-color: colors.$grey;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      margin: 12px 0 47px;
      width: 630px;
      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 24px;

      .card {
        padding: 58px 48px 48px 48px;
        background-color: colors.$white;

        img {
          width: 35px;
        }

        h6 {
          margin: 25px 0 12px;
        }

        p {
          color: colors.$dark-blue
        }
      }
    }
  }

  .testimonials {
    padding: 128px 160px;

    display: flex;
    flex-direction: row;
    gap: 110px;

    background-color: colors.$grey;

    * {
      color: colors.$dark-blue;
    }

    .header {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 48px;

      .arrow-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .profile {
          display: flex;
          flex-direction: row;
          gap: 14px;

          .profile-name-container {
            p {
              font-size: 18px;
            }
            span {
              font-weight: 400;
              font-size: 12px;
              line-height: 28px;
            }
          }
        }

        .arrows {
          display: inline-flex;
          gap: 10px;
        }
      }
    }
  }

  .contact {
    padding: 128px 160px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    p, h1, h5, :after {
      color: colors.$white;
    }

    a {
      text-align: center;
    }

    .header {
      padding: 96px;
      background: linear-gradient(rgba(28, 30, 83, 0.5), rgba(28, 30, 83, 0.5)), url("../assets/img/contact-bg.jpeg");
      background-size: auto, cover;

      flex: 1 1 0;

      h1 {
        margin-bottom: 24px;
      }
    }

    .form {
      padding: 96px 96px 48px 96px;
      background-color: colors.$tint-blue;

      display: flex;
      flex-direction: column;

      flex: 1 1 0;

      p {
        margin: 16px 0 40px;
      }

      button {
        margin: 40px 0 28px;
      }

      input {
        font-size: 16px;
        line-height: 28px;
        padding: 18px 32px;
        border: 1.5px solid rgba(255, 255, 255, 0.05);
        border-radius: 8px;
        color: colors.$white;
        background-color: transparent;

        &::placeholder {
          color: #888AA8;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  .blog {
    padding: 128px 160px;

    h2 {
      margin-bottom: 64px;
    }

    .content {
      display: flex;
      flex-direction: row;
      gap: 32px;

      article {
        width: 405px;

        img {
          margin-bottom: 40px;
        }

        p.label {
          margin-bottom: 16px;
        }

        h6 {
          margin-bottom: 16px;
        }

        p.annotation {
          margin-bottom: 32px;
        }

        a {
          color: colors.$dark-blue;
        }
      }
    }
  }
}

@keyframes sweep {
  0%    {max-height:0; padding-bottom: 0;}
  100%  {max-height:500px; padding-bottom: 48px;}
}