@import url("../assets/fonts/poppins.css");
@import url("../assets/fonts/icomoon.css");
header {
  height: 92px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 160px;
  background-color: #1c1d53;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header * {
  color: #ffffff;
}

nav {
  display: inline-flex;
  align-items: center;
  gap: 48px;
}
nav ul {
  display: flex;
  gap: 32px;
}
nav ul li {
  list-style-type: none;
  color: #BBBBCB;
  cursor: pointer;
  height: fit-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
nav ul li:hover {
  color: #ffffff;
}
nav ul.alt-colors li {
  color: #272938;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, li, span {
  color: #000000;
}

h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
}

h4 {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
}

h5 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}
h5.bold {
  font-weight: 600;
}

h6 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
p.bold {
  font-weight: 500;
}

a {
  text-decoration: none;
}
a:after {
  content: "\e900";
  font-family: "icomoon" !important;
  margin-left: 16px;
  color: inherit;
  font-size: inherit;
}
a:visited {
  color: #ffffff;
}

label, span {
  font-weight: 500;
}
label.bold, span.bold {
  font-size: 18px;
  line-height: 32px;
}

button {
  border-radius: 41px;
  padding: 16px 48px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  border: none;
}
button.outline {
  border: 2px rgba(244, 246, 252, 0.2) solid;
  color: #ffffff;
  background-color: #1c1d53;
  font-size: 16px;
  line-height: 28px;
}
button.primary {
  color: #1B1C2A;
  background-color: #fcd880;
}
button.secondary {
  color: #ffffff;
  background-color: #272938;
}
button.icon {
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: #ffffff;
  font-family: "icomoon" !important;
  color: #7f7f89;
  user-select: none;
  cursor: pointer;
}
button.icon:hover {
  background-color: #5239FA;
  color: #ffffff;
}

footer .upper-block {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 260px;
  grid-row-gap: 89px;
  background-color: #1c1d53;
  padding: 95px 160px 0;
  position: relative;
}
footer .upper-block .logo-col {
  grid-area: 1/1/2/2;
}
footer .upper-block .logo-col img {
  width: 160px;
}
footer .upper-block .logo-col p {
  color: #ffffff;
  margin-top: 24px;
  margin-left: 1px;
}
footer .upper-block .contact-chip {
  grid-area: 2/1/3/2;
  background-color: #fcd880;
  display: flex;
  align-items: center;
  gap: 29px;
  padding: 18px 37px 16px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  min-width: 517px;
}
footer .upper-block .contact-chip p, footer .upper-block .contact-chip div {
  width: fit-content;
}
footer .upper-block .contact-info {
  height: 92px;
  width: 517px;
  margin-top: 86px;
  padding: 18px 37px 16px 37px;
}
footer .upper-block .contact-info p {
  all: revert;
  margin: 0;
  color: black;
}
footer .upper-block .letstalk-col {
  grid-area: 1/2/3/3;
}
footer .upper-block .letstalk-col h2 {
  color: #ffffff;
}
footer .upper-block .letstalk-col p {
  color: #f5f6fb;
  margin-top: 14px;
  margin-left: 1px;
  margin-bottom: 28px;
}
footer .lower-block {
  height: 92px;
  padding: 32px 160px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.hero {
  background-color: #1c1d53;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 128px 160px;
}
section.hero img {
  width: auto;
}
section.hero .row {
  display: inline-flex;
  align-items: center;
  gap: 40px;
}
section.hero h1, section.hero p, section.hero a {
  color: #ffffff;
}
section.hero p {
  margin: 24px 0 48px;
}

main .how-we-work {
  background-color: #f5f6fb;
  padding: 128px 0 128px 165px;
  display: flex;
  align-items: start;
  justify-content: start;
}
main .how-we-work .heading {
  width: 400px;
}
main .how-we-work a {
  color: #2104f6;
}
main .how-we-work a:after {
  color: #2104f6;
  vertical-align: middle;
}
main .how-we-work h2, main .how-we-work h5, main .how-we-work p {
  color: #272938;
}
main .how-we-work .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 48px;
  margin: 0 auto 0 232px;
}
main .how-we-work .grid .marker {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../assets/img/marker-bg.svg") #2104f6;
  border-radius: 8px;
  font-size: 18px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
}
main .how-we-work .grid h5 {
  font-weight: 500;
  margin: 16px 0 8px;
}
main .how-we-work .grid div[class^=tile] {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 328px;
}
main .how-we-work .grid div[class^=tile][class*="1"] {
  grid-area: 1/1/2/2;
}
main .how-we-work .grid div[class^=tile][class*="2"] {
  grid-area: 1/2/2/3;
}
main .how-we-work .grid div[class^=tile][class*="3"] {
  grid-area: 2/1/3/2;
}
main .how-we-work .grid div[class^=tile][class*="4"] {
  grid-area: 2/2/3/3;
}
main .our-projects {
  background-color: #ffffff;
  padding: 128px 160px;
}
main .our-projects h6, main .our-projects p {
  color: #ffffff;
  text-wrap: wrap;
}
main .our-projects h6 {
  font-weight: 600;
}
main .our-projects a {
  color: #fcd880;
}
main .our-projects .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
main .our-projects .grid {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  min-height: 600px;
}
main .our-projects .grid div[class^=tile] .overlay {
  background: linear-gradient(to top, #1C1E53, rgba(28, 30, 83, 0.42));
  height: 100%;
  box-sizing: border-box;
  padding: 0 36px 45px 53px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  opacity: 0;
}
main .our-projects .grid div[class^=tile] .overlay:hover {
  opacity: 1;
}
main .our-projects .grid div[class^=tile][class*="1"] {
  grid-area: 1/1/3/2;
  background: no-repeat url("../assets/img/project1.png");
  background-size: cover;
}
main .our-projects .grid div[class^=tile][class*="1"] .overlay {
  width: 50%;
  padding: 0 35px 76px 48px;
  gap: 0;
  opacity: 1;
}
main .our-projects .grid div[class^=tile][class*="1"] .overlay p {
  margin: 16px 0 40px;
}
main .our-projects .grid div[class^=tile][class*="2"] {
  grid-area: 1/2/2/3;
  background: no-repeat url("../assets/img/project2.png");
  background-size: cover;
}
main .our-projects .grid div[class^=tile][class*="3"] {
  grid-area: 2/2/3/3;
  background: no-repeat url("../assets/img/project3.png");
  background-size: cover;
}
main .features {
  padding: 128px 160px;
  background-color: #f5f6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .features h2 {
  margin: 12px 0 47px;
  width: 630px;
  text-align: center;
}
main .features .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 24px;
}
main .features .grid .card {
  padding: 58px 48px 48px 48px;
  background-color: #ffffff;
}
main .features .grid .card img {
  width: 35px;
}
main .features .grid .card h6 {
  margin: 25px 0 12px;
}
main .features .grid .card p {
  color: #272938;
}
main .testimonials {
  padding: 128px 160px;
  display: flex;
  flex-direction: row;
  gap: 110px;
  background-color: #f5f6fb;
}
main .testimonials * {
  color: #272938;
}
main .testimonials .header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .testimonials .content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
main .testimonials .content .arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .testimonials .content .arrow-container .profile {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
main .testimonials .content .arrow-container .profile .profile-name-container p {
  font-size: 18px;
}
main .testimonials .content .arrow-container .profile .profile-name-container span {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
}
main .testimonials .content .arrow-container .arrows {
  display: inline-flex;
  gap: 10px;
}
main .faq {
  padding: 128px 160px;
  display: flex;
  flex-direction: row;
  gap: 110px;
}
main .faq .header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .faq .header a {
  color: #2104f6;
}
main .faq .header a:after {
  content: "";
}
main .faq .content {
  width: 100%;
  user-select: none;
}
main .faq .content details summary {
  list-style-type: none;
  padding: 32px 0 32px 27px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
main .faq .content details summary * {
  font-size: 24px;
  line-height: 36px;
}
main .faq .content details summary .before {
  color: #2104f6;
  margin-right: 60px;
}
main .faq .content details summary .plus-icon {
  font-family: "icomoon" !important;
  margin-left: auto;
  transition: all 0.05s ease-in;
}
main .faq .content details summary::marker, main .faq .content details summary::-webkit-details-marker {
  display: none;
}
main .faq .content details p {
  padding: 0 0 48px 111px;
  font-size: 18px;
  line-height: 32px;
  color: #272938;
  box-sizing: border-box;
  overflow: hidden;
}
main .faq .content details[open] .plus-icon {
  rotate: 45deg;
}
main .faq .content details[open] summary {
  padding-bottom: 16px;
}
main .faq .content details[open] p {
  animation: sweep 1s linear;
}
main .faq .content details:not(:last-of-type) {
  border-bottom: 2px #ECECF1 solid;
}
main .contact {
  padding: 128px 160px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}
main .contact p, main .contact h1, main .contact h5, main .contact :after {
  color: #ffffff;
}
main .contact a {
  text-align: center;
}
main .contact .header {
  padding: 96px;
  background: linear-gradient(rgba(28, 30, 83, 0.5), rgba(28, 30, 83, 0.5)), url("../assets/img/contact-bg.jpeg");
  background-size: auto, cover;
  flex: 1 1 0;
}
main .contact .header h1 {
  margin-bottom: 24px;
}
main .contact .form {
  padding: 96px 96px 48px 96px;
  background-color: #1c1d53;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
main .contact .form p {
  margin: 16px 0 40px;
}
main .contact .form button {
  margin: 40px 0 28px;
}
main .contact .form input {
  font-size: 16px;
  line-height: 28px;
  padding: 18px 32px;
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: #ffffff;
  background-color: transparent;
}
main .contact .form input::placeholder {
  color: #888AA8;
}
main .contact .form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .blog {
  padding: 128px 160px;
}
main .blog h2 {
  margin-bottom: 64px;
}
main .blog .content {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
main .blog .content article {
  width: 405px;
}
main .blog .content article img {
  margin-bottom: 40px;
}
main .blog .content article p.label {
  margin-bottom: 16px;
}
main .blog .content article h6 {
  margin-bottom: 16px;
}
main .blog .content article p.annotation {
  margin-bottom: 32px;
}
main .blog .content article a {
  color: #272938;
}

@keyframes sweep {
  0% {
    max-height: 0;
    padding-bottom: 0;
  }
  100% {
    max-height: 500px;
    padding-bottom: 48px;
  }
}

/*# sourceMappingURL=index.css.map */
