@import url("../assets/fonts/poppins.css");
@import url("../assets/fonts/icomoon.css");

$white: #ffffff;
$royal-blue: #2104f6;
$dark-blue: #272938;
$grey: #f5f6fb;
$yellow: #fcd880;
$tint-blue: #1c1d53;
$accent: #eff4fa;
$button-black: #1B1C2A;

* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, li, span {
  color: #000000;
}

h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
}

h4 {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
}

h5 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

h6 {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  &.bold {
    font-weight: 500;
  }
}

a {
  text-decoration: none;

  &:after {
    content: "\e900";
    font-family: "icomoon" !important;
    margin-left: 16px;
    color: inherit;
    font-size: inherit;
  }

  &:visited {
    color: $white;
  }
}

label, span, {
  font-weight: 500;

  &.bold {
    font-size: 18px;
    line-height: 32px;
  }
}

button {
  border-radius: 41px;
  padding: 16px 48px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  border: none;

  &.outline {
    border: 2px #F4F6FC33 solid;
    color: $white;
    background-color: $tint-blue;

    font-size: 16px;
    line-height: 28px;
  }

  &.primary {
    color: $button-black;
    background-color: $yellow;
  }

  &.secondary {
    color: $white;
    background-color: $dark-blue;
  }
}

header {
  height: 92px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 160px;
  background-color: $tint-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;

  * {
    color: $white;
  }
}

nav {
  display: inline-flex;
  align-items: center;
  gap: 48px;

  ul {
    display: flex;
    gap: 32px;

    li {
      list-style-type: none;
      color: #BBBBCB;
      cursor: pointer;
      height: fit-content;

      font-weight: 500;
      font-size: 16px;
      line-height: 28px;

      &:hover {
        color: $white;
      }
    }

    &.alt-colors li {
      color: $dark-blue;
    }
  }
}

main {

  .hero {
    background-color: $tint-blue;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    padding: 128px 160px;

    img {
      width: auto;
    }

    .row {
      display: inline-flex;
      align-items: center;
      gap: 40px;
    }

    h1, p, a {
      color: $white;
    }

    p {
      margin: 24px 0 48px;
    }
  }

  .how-we-work {
    background-color: $grey;
    padding: 128px 0 128px 165px;

    display: flex;
    align-items: start;
    justify-content: start;

    .heading {
      width: 400px;
    }

    a {
      color: $royal-blue;

      &:after {
        color: $royal-blue;
        vertical-align: middle;
      }
    }

    h2, h5, p {
      color: $dark-blue;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 35px;
      grid-row-gap: 48px;

      margin: 0 auto 0 232px;

      .marker {
        display: block;
        width: 50px;
        height: 50px;
        background: url("../assets/img/marker-bg.svg") $royal-blue;
        border-radius: 8px;

        font-size: 18px;
        line-height: 50px;
        color: $white;
        text-align: center;
      }

      h5 {
        font-weight: 500;
        margin: 16px 0 8px;
      }

      div[class^="tile"] {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 328px;

        &[class*="1"] { grid-area: 1 / 1 / 2 / 2; }
        &[class*="2"] { grid-area: 1 / 2 / 2 / 3; }
        &[class*="3"] { grid-area: 2 / 1 / 3 / 2; }
        &[class*="4"] { grid-area: 2 / 2 / 3 / 3; }
      }
    }
  }

  .our-projects {
    background-color: $white;
    padding: 128px 160px;

    h6, p {
      color: $white;
    }

    a {
      color: $yellow;
    }

    .grid {
      display: grid;
      grid-template-columns: 2.03fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 32px;

      min-height: 600px;

      div[class^="tile"] {

        .overlay {
          background: linear-gradient(to top, #1C1E53, rgba(28, 30, 83, 0.42));
          height: 100%;

          opacity: 0;

          &:hover {
            opacity: 1;
          }
        }

        &[class*="1"] {
          grid-area: 1 / 1 / 3 / 2;
          background: no-repeat url("../assets/img/project1.png");
        }
        &[class*="2"] {
          grid-area: 1 / 2 / 2 / 3;
          background: no-repeat url("../assets/img/project2.png");
        }
        &[class*="3"] {
          grid-area: 2 / 2 / 3 / 3;
          background: no-repeat url("../assets/img/project3.png");
        }
      }
    }
  }
}

footer {
  .upper-block {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 260px;
    grid-row-gap: 89px;

    background-color: $tint-blue;
    padding: 95px 160px 0;

    position: relative;

    .logo-col {
      grid-area: 1 / 1 / 2 / 2;

      img {
        width: 160px;
      }

      p {
        color: $white;
        margin-top: 24px;
        margin-left: 1px;
      }

    }

    .contact-chip {
      grid-area: 2 / 1 / 3 / 2;
      background-color: $yellow;
      display: flex;
      align-items: center;
      gap: 29px;
      padding: 18px 37px 16px;

      z-index: 2;
      position: absolute;
      bottom: 0;

      min-width: 517px;

      p, div {
        width: fit-content;
      }
    }

    .contact-info {
      height: 92px;
      width: 517px;


      margin-top: 86px;

      padding: 18px 37px 16px 37px;

      p {
        all: revert;
        margin: 0;
        color: black;
      }
    }

    .letstalk-col {
      grid-area: 1 / 2 / 3 / 3;

      h2 {
        color: $white;
      }

      p {
        color: $grey;
        margin-top: 14px;
        margin-left: 1px;
        margin-bottom: 28px;
      }
    }
  }

  .lower-block {
    height: 92px;
    padding: 32px 160px;
    box-sizing: border-box;
    background-color: $white;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
